{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Codex Hermaeus</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Codex Hermaeus</h1>
{{ end }}
